<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="flights">
    <div class="text-center">
        <h5 th:if="${success}" class="alert alert-success" th:text="${success}"></h5>
        <h5 th:if="${error}" class="alert alert-warning" th:text="${error}"></h5>
    </div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Flight Code</th>
            <th scope="col">From</th>
            <th scope="col">Departing</th>
            <th scope="col">To</th>
            <th scope="col">Arriving</th>
            <th scope="col">Shuttle</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="flight : ${flights}">
            <tr
                    class="admin-flight-tr"
                    th:id="${flight.id}"
            >
                <th scope="row" th:text="${flight.flightCode}"></th>
                <td th:text="${flight.launchPad.port.id}"></td>
                <td th:text="${#calendars.format({flight.departing},'MMM dd, YYYY hh:mm a')}"></td>
                <td th:text="${flight.arrivalPad.port.id}"></td>
                <td th:text="${#calendars.format({flight.arriving},'MMM dd, YYYY hh:mm a')}"></td>
                <td th:text="${flight.shuttle.name}"></td>

            </tr>
        </th:block>
        </tbody>
    </table>
    <div th:replace="fragments/overlays :: update-flight"></div>
</div>

<div th:fragment="regions">
    <h1>Regions</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th Scape="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="r : ${regions}">
            <th th:text="${r.id}" scope="row">1</th>
            <td th:text="${r.name}">Mark</td>
            <td>Delete</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="ports">
    <h1>Ports</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th Scape="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${ports}">
            <th th:text="${p.id}" scope="row">1</th>
            <td th:text="${p.name}">Mark</td>
            <td>Delete</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="shuttles">
    <h1>Shuttles</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th Scape="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="s : ${shuttles}">
            <th th:text="${s.id}" scope="row">1</th>
            <td th:text="${s.name}">Mark</td>
            <td>Delete</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="spaceliners">
    <h1>Spaceliners</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th Scape="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sl : ${spaceliners}">
            <th th:text="${sl.id}" scope="row">1</th>
            <td th:text="${sl.name}">Mark</td>
            <td>Delete</td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="pads">
    <h1>Pads</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th Scape="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${pads}">
            <th th:text="${p.id}" scope="row">1</th>
            <td th:text="${p.port}">Mark</td>
            <td>Delete</td>
        </tr>
        </tbody>
    </table>
</div>


</body>
</html>