<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<section th:fragment="carousel" class="container-lg main-image p-0" id="image-carousel">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="earth-orbit-img-container" class="container p-0" style="position:relative">
                    <img class="img-fluid rounded d-block w-100" style="width:100%" th:src="@{/assets/image/earth-space-station.jpg}" alt="Space station orbiting Earth">
                    <div class="container justify-content-center text-center" style="width: 200px; color:white; position: absolute; top:5%; left:30%">
                        <h4>Experience travel on an entirely new level...</h4>
                        <p>Take a trip that's out of this world</p>
                        <a href="#station-content" class="btn btn-primary">Explore</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div id="moon-img-container" class="container p-0" style="position:relative">
                    <img class="img-fluid rounded d-block w-100" style="width:100%" th:src="@{/assets/image/moon-4k-color.jpg}" alt="Moon surface in high definition">
                    <div class="container justify-content-center text-center" style="width: 300px; color:white; position:absolute; top:5%; left:5%;">
                        <h1>Explore Earth's very own Moon</h1>
                        <p style="color: white;">Discover the many mysteries of Luna...</p>
                        <a href="#moon-content" class="btn btn-primary mx-auto">Explore</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div id="mars-img-container" class="container p-0" style="position:relative">
                    <img class="img-fluid rounded d-block w-100" style="width:100%" th:src="@{/assets/image/mars-4k.jpg}" alt="Mars surface map">
                    <div class="container justify-content-center text-center" style="width: 300px; color:white; position:absolute; top:5%; left:5%;">
                        <h1>Dig your toes in the red sands of Mars</h1>
                        <p>Explore the depths of Valles Marineris...</p>
                        <a href="#mars-content" class="btn btn-primary mx-auto">Explore</a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>


<div th:fragment="moon" class="container p-0" id="moon-content">
    <div class="row gx-0">
        <div class="col-sm col-12">
            <img id="moon-base" class="img-fluid rounded-start" th:src="@{/assets/image/moon-base.jpg}" alt="Moon base">
        </div>
        <div class="col-sm col-12 border border-2 rounded-end d-flex align-items-center ps-3">
            <span>
                <h4>Experience the quiet cold embrace of space!</h4>All from the comfort of Earth's orbit!
            </span>
        </div>
    </div>
    <div class="row gx-2 my-4 px-2">
        <div class="col-sm col-12 explore-container ">
            <div class="row">
                <img class="img-fluid rounded p-0 mb-1" th:src="@{/assets/image/moon-cave.jpg}" alt="Moon cavern">
            </div>
            EXPLORE<h6>Discover unique caverns</h6>
        </div>
        <div class="col-sm col-12 explore-container mx-sm-5">
            <div class="row">
                <img class="img-fluid rounded p-0 mb-1" th:src="@{/assets/image/moon-lander.jpg}" alt="Moon cavern">
            </div>
            LEARN<h6>Visit historical treasures</h6>
        </div>
        <div class="col-sm col-12 explore-container">
            <div class="row">
                <img class="img-fluid rounded p-0 mb-1" th:src="@{/assets/image/space-truck.png}" alt="Moon cruiser">
            </div>
            CRUISE<h6>Traverse Moon dunes in style</h6>
        </div>
    </div>
</div>
<div th:fragment="mars" class="container p-0" id="mars-content">
    <div class="row gx-0">
        <div class="col-sm col-12 border border-2 rounded-start d-flex justify-content-end align-items-center pe-4">
            <span>
                <h4>Visit the many rovers of Mars!</h4>Don't forget to bring your sunblock!
            </span>
        </div>
        <div class="col-sm col-12">
            <img id="mars-base" class="img-fluid rounded-end" th:src="@{/assets/image/mars-colony2.jpg}" alt="Moon base">
        </div>
    </div>
    <div class="row gx-2 my-4 px-2">
        <div class="col-sm col-12 explore-container">
            <div class="row">
                <img class="img-fluid rounded p-0 mb-1" th:src="@{/assets/image/mars-truck.jpg}" alt="Mars recreational vehicle">
            </div>
            RELAX<h6>See the sites in comfort and style</h6>
        </div>
        <div class="col-sm col-12 explore-container mx-sm-5">
            <div class="row">
                <img class="img-fluid rounded p-0 mb-1" th:src="@{/assets/image/starships-on-mars.jpg}" alt="Starship field on Mars">
            </div>
            BE AMAZED<h6>Sunrises will never be the same</h6>
        </div>
        <div class="col-sm col-12 explore-container">
            <div class="row">
                <img class="img-fluid rounded p-0 mb-1" th:src="@{/assets/image/couple-on-mars.jpg}" alt="Couple views start under Mars sky">
            </div>
            EXPERIENCE<h6>Witness the sunset like never before</h6>
        </div>
    </div>
</div>
<div th:fragment="stations" class="container p-0" id="station-content">
    <div class="row">
        <div class="col">
            <img class="img-fluid rounded p-0 mb-1" th:src="@{/assets/image/asteroid-station.jpg}" alt="Space station near asteroid">
            TEST YOUR LIMITS<h6>Travel to the farthest reaches of our inner solar system</h6>
        </div>
        <div class="col">
            <img class="img-fluid rounded p-0 mb-1" th:src="@{/assets/image/mars-space-station.jpg}" alt="Space station around Mars">
            FEEL LIKE A MARTIAN<h6>See all of the red planet while orbiting in style</h6>
        </div>
    </div>
</div>


</body>
</html>