<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="container(section)" class="container-lg main-section-form-box border border-2 my-5">
    <div
            class="main-section-form-box-tabs-container border-bottom border-2"
            id="main-entrypoint-component"
    >
        <div
                class="main-section-form-box-tabs d-flex justify-content-center flex-wrap mt-3"
        >
            <a class="mx-4 main-section-tab focus" id="flights-tab" th:href="@{/astrodia}"><h6>Flights</h6></a>
            <a class="mx-4 main-section-tab" id="stays-tab" href="#"><h6>Stays</h6></a>
            <a class="mx-4 main-section-tab" id="ports-tab" href="#"><h6>Stations</h6></a>
            <a class="mx-4 main-section-tab" id="reviews-tab" href="#"><h6>Reviews</h6></a>
        </div>
    </div>
    <div th:insert="fragments/base :: ${section}"
         class="main-section-form-container"></div>
<!--    <div class="d-flex justify-content-center">-->
<!--        <button-->
<!--                class="btn btn-primary btn-lg justify-content-center my-3 px-5"-->
<!--                id="searchBtn"-->
<!--        >-->
<!--            Search-->
<!--        </button>-->
<!--    </div>-->
</section>

<div th:fragment="flights">
    <div class="d-flex flex-wrap main-section-form-choice-tabs my-4 offset-1 pb-2">
        <h6 class="mx-4 p-2 d-inline focus" id="roundtrip">Roundtrip</h6>
        <h6 class="mx-4 p-2 d-inline" id="one-way">One-way</h6>
        <h6 class="mx-4 p-2 d-inline" id="multi-port">Multi-port</h6>
    </div>
    <div class="input-fields-container">
        <form id="searchForm" th:object="${roundtripSearch}" th:action="@{/astrodia/roundtrip}" class="d-flex-inline" method="GET">
            <div class="row g-2 justify-content-center" id="roundtrip-search-inputs">
                <div class="col-lg-3">
                    <div class="form-floating">
                        <select th:field="*{departurePort}" class="form-select" id="departurePort">
                            <option selected value="">Select port</option>
                            <span th:each="port : ${ports}">
                          <option th:value="${port.name}" th:text="${port.name}"></option>
                      </span>
                        </select>
                        <label for="departurePort">Departing from</label>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-floating">
                        <select th:field="*{arrivalPort}" class="form-select" id="arrivalPort">
                            <option selected value="">Select port</option>
                            <span th:each="port : ${ports}">
                            <option th:value="${port.name}" th:text="${port.name}"></option>
                      </span>
                        </select>
                        <label for="arrivalPort">Going to</label>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center" id="date-input-container">
                    <div class="form-floating col-5 mx-1">
                        <input
                                th:field="*{departureDate}"
                                class="form-control mb-3 col datepicker"
                                type="text"
                                id="departureDate"
                                placeholder="Departure date"
                        />
                        <label for="departureDate">Departure date</label>
                    </div>
                    <div class="form-floating col-5 mx-1">
                        <input
                                th:field="*{arrivalDate}"
                                class="form-control mb-3 col datepicker"
                                type="text"
                                id="arrivalDate"
                                placeholder="Return date"
                        />
                        <label for="arrivalDate">Return date</label>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button
                        class="btn btn-primary btn-lg justify-content-center my-3 px-5"
                        id="searchBtn"
                >
                    Search
                </button>
            </div>
        </form>
    </div>
</div>

<div th:fragment="stations">
    <h4>stations content</h4>
</div>



</body>
</html>