<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<section th:fragment="links" class="container my-4">
  <h2 class="mb-3">Here to help launch you into your next adventure</h2>
  <div class="row gy-3">
    <div class="col-12 col-sm border border-2 rounded help-link">
        <h5>Change or cancel a trip</h5>
        <p>Make updates to your itinerary or cancel a booking</p>
    </div>
    <div class="col-12 mx-sm-3 col-sm border border-2 rounded help-link">
        <h5>Use a credit or coupon</h5>
        <p>Apply a coupon code or credit to a new trip</p>
    </div>
    <div class="col-12 col-sm border border-2 rounded help-link">
        <h5>Track your refund</h5>
        <p>Check the status of a refund currently in progress</p>
    </div>
  </div>
</section>

<footer th:fragment="footer">
  <div class="container border-2 border-top p-3 my-3">
    <div class="row">
      <p class="fw-bold m-0 text-center">Be inspired and discover more with Astrodia<br>
        <a class="no-line-anchor fw-normal" th:href="@{/astrodia/#main-entrypoint-component}">Explore a galaxy of infinite possibility</a></p>
    </div>
  </div>
</footer>

<div th:fragment="scripts">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/jquery-ui/1.13.0/jquery-ui.min.js/}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.bundle.min.js}"></script>
</div>

</body>
</html>