<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section th:fragment="main" class="container-lg main-section-form-box border border-2 my-5">
    <div
            class="main-section-form-box-tabs-container border-bottom border-2"
            id="main-entrypoint-component"
    >
        <div
                class="main-section-form-box-tabs d-flex flex-row justify-content-center flex-wrap mt-3"
        >
            <h6 class="mx-4">Search By:</h6>
            <h6 class="mx-4 searchBy-tab focus" id="region-tab">Region</h6>
            <h6 class="mx-4 searchBy-tab" id="port-tab">Port</h6>
        </div>
    </div>
    <div class="my-5">
        <div class="region-content">
            <div th:replace="fragments/forms :: roundtrip(Region, ${regions}, '/astrodia/region-search')"></div>
        </div>
        <div class="port-content" style="display:none;">
            <div th:replace="fragments/forms :: roundtrip(Port, ${ports}, '/astrodia/port-search')"></div>
        </div>
    </div>
</section>

<div th:fragment="roundtrip(title, content, action)">
    <div th:id="${title}" class="form-container">

        <form
                th:object="${searchDTO}"
                th:action="${action}"
                class="d-flex-inline"
                method="GET"
        >

        <div class="row g-2 justify-content-center" id="region-search">
            <div class="col-lg-3">
                <div class="form-floating" id="leaving-div">
                    <select th:field="*{leaving}" class="form-select" id="leaving">
                        <option th:inline="text" selected value="">Select [[${title}]]</option>
                        <span th:each="item : ${content}">
                            <option th:value="${item.id}" th:text="${item.name}"></option>
                        </span>
                    </select>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('leaving')}" th:errors="*{leaving}"></div>
                    <label for="leaving">Departing from</label>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-floating" id="destination-div">
                    <select th:field="*{destination}" class="form-select" id="destination">
                        <option th:inline="text" selected value="">Select [[${title}]]</option>
                        <span th:each="item : ${content}">
                            <option th:value="${item.id}" th:text="${item.name}"></option>
                        </span>
                    </select>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></div>
                    <label for="destination">Going to</label>
                </div>
            </div>
            <div class="col-lg-4 d-flex justify-content-center" id="date-input-container">
                <div class="form-floating col-5 mx-1">
                    <input
                            th:field="*{departureDate}"
                            class="form-control col datepicker"
                            type="text"
                            th:id="|${title}-departureDate|"
                            placeholder="Departure date"
                    />
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"></div>
                    <label for="departureDate">From Date</label>
                </div>
                <div class="form-floating col-5 mx-1">
                    <input
                            th:field="*{arrivalDate}"
                            class="form-control col datepicker"
                            type="text"
                            th:id="|${title}-arrivalDate|"
                            placeholder="Return date"
                    />
                    <label for="arrivalDate">Return by</label>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}"></div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <button
                    class="btn btn-primary btn-lg justify-content-center my-3 px-5"
                    id="searchBtn"
            >
                Search
            </button>
        </div>
    </form>
    </div>
</div>
<section th:fragment="new-search">
    <div class="row row-cols-md-auto justify-content-center p-3 border-bottom" id="form-container">
        <form
                th:object="${newSearch}"
                th:action="@{/astrodia/roundtrip-region}"
                method="GET" class="d-flex"
        >
            <div class="col-12 col-sm-3 mx-1">
                <div class="form-floating" id="leaving-div">
                    <select th:field="*{leaving}" class="form-select" id="leaving">
                        <option selected value="">Select Region</option>
                        <span th:each="region : ${regions}">
                            <option th:value="${region.id}" th:text="${region.name}"></option>
                        </span>
                    </select>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('leaving')}" th:errors="*{leaving}"></div>
                    <label for="leaving">Departing from</label>
                </div>
            </div>
            <div class="col-12 col-sm-3 mx-1">
                <div class="form-floating" id="destination-div">
                    <select th:field="*{destination}" class="form-select" id="destination">
                        <option selected value="">Select Region</option>
                        <span th:each="region : ${regions}">
                            <option th:value="${region.id}" th:text="${region.name}"></option>
                        </span>
                    </select>
                    <div class="alert alert-warning" th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></div>
                    <label for="destination">Going to</label>
                </div>
            </div>
            <div class="form-floating col-12 col-sm-2 mx-1">
                <input
                        th:field="*{departureDate}"
                        class="form-control col datepicker"
                        type="text"
                        id="departureDate"
                        placeholder="Departure date"
                />
                <div class="alert alert-warning" th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"></div>
                <label for="departureDate">From Date</label>
            </div>
            <div class="form-floating col-12 col-sm-2 mx-1">
                <input
                        th:field="*{arrivalDate}"
                        class="form-control col datepicker"
                        type="text"
                        id="arrivalDate"
                        placeholder="Return date"
                />
                <label for="arrivalDate">Return by</label>
                <div class="alert alert-warning" th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}"></div>
            </div>
            <button
                    type="submit"
                    class="btn btn-primary btn-lg col-2 mx-2"
                    id="searchBtn"
            >
                Search
            </button>
        </form>
    </div>

</section>
</body>
</html>