<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light border-bottom p-3">
    <div class="container-lg">
        <a class="navbar-brand" th:href="@{/astrodia}">
            <img
                    th:src="@{/assets/spaceship.png}"
                    alt="Astrodia shuttle orbiting planet logo"
                    width="30"
                    height="24"
                    class="d-inline-block align-text-top"
            />
            <span class="fs-3 fw-bold">Astrodia</span>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More travel
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item my-2" href="#">
                                <i style="transform: rotate(-45deg);" class="fa-solid fa-shuttle-space me-2"></i>Flights</a></li>
                        <li><a class="dropdown-item my-2" href="#">
                                <i class="fa-solid fa-hotel me-2"></i>Stays</a></li>
                        <li><a class="dropdown-item my-2" href="#">
                            <img th:src="@{/assets/space-station-icon.png}"
                                    alt="station icon"
                                    class="me-2"
                            />Stations</a></li>
                        <li><a class="dropdown-item my-2" href="#">Reviews</a></li>
                        <li><hr class="dropdown-divider"></li>

                        <li><a class="dropdown-item my-2" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adminPortalDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin Portal
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Flights</a></li>
                        <li><a class="dropdown-item" href="#">Space Liners</a></li>
                        <li><a class="dropdown-item" href="#">Regions</a></li>
                        <li><a class="dropdown-item" href="#">Shuttles</a></li>
                        <li><a class="dropdown-item" href="#">Ports</a></li>
                        <li><a class="dropdown-item" href="#">Reviews</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        <a class="nav-link active" aria-current="page" href="#" id="signInNavLink">
            <i class="fa-solid fa-user-astronaut me-1"></i>Sign In</a>
        <div class="p-3 border rounded-2 text-center" id="signInPopup">
            <a class="col-12 mb-2 btn btn-primary fw-bold" th:href="@{/astrodia/signin}" >Sign In</a>
            <a th:href="@{/astrodia/signup}">
                <div class="fw-bold p-2 rounded-2" id="signUpBtn">Sign up, it's free</div>
            </a>
        </div>
    </div>
</nav>

<div th:fragment="go-back-header">
    <div style="padding: 10px; border:none; border-radius: 50%; position: absolute; top:10px; left: 20px;"
         id="loginFormHeader-arrow_back"
         type="button"
         onclick="history.back()"
         data-bs-toggle="tooltip"
         data-bs-placement="bottom"
         title="Go back"
    >
        <svg class="uitk-icon uitk-icon-medium"
             aria-labelledby="loginFormHeader-arrow_back-toolbar-title"
             fill="blue"
             role="img"
             viewBox="3 5 20 20"
             xmlns="http://www.w3.org/2000/svg"
             xmlns:xlink="http://www.w3.org/1999/xlink">
            <svg>
                <path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z">
                </path>
            </svg>
        </svg>
    </div>
    <div class="border-bottom d-flex p-2 justify-content-center">
        <div class="d-flex">
            <img
                    th:src="@{/assets/spaceship.png}"
                    alt="Astrodia shuttle orbiting planet logo"
                    width="35"
                    height="30"
                    class="mt-1"
            />
            <h3>Astrodia</h3>
        </div>
    </div>
</div>
</body>
</html>