<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-light bg-light border-bottom p-3">
    <div class="container-lg">
        <a class="navbar-brand" href="#">
            <img
                    th:src="@{/assets/spaceship.png}"
                    alt="Astrodia shuttle orbiting planet logo"
                    width="30"
                    height="24"
                    class="d-inline-block align-text-top"
            />
            <span class="fs-3 fw-bold">Astrodia</span>
        </a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        More travel
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">
                                <i class="fa-solid fa-shuttle-space me-2"></i>Flights</a></li>
                        <li><a class="dropdown-item" href="#">
                                <i class="fa-solid fa-hotel me-2"></i>Stays</a></li>
                        <li><a class="dropdown-item" href="#">
                                <i class="fa-solid fa-satellite me-2"></i>Ports</a></li>
                        <li><a class="dropdown-item" href="#">Reviews</a></li>

                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
            </ul>
        <a class="nav-link active" aria-current="page" href="#" id="signInNavLink">
            <i class="fa-solid fa-user-astronaut me-1"></i>Sign In</a>
        <div class="py-3 px-3 border rounded-2 text-center" id="signInPopup">
            <a href="" class="col-12 mb-2 btn btn-primary fw-bold">Sign In</a>
            <div class="container col-12 p-2 rounded-2">
                <a class="fw-bold" th:href="@{astrodia/signup}">Sign up, it's free</a>
            </div>
        </div>
    </div>
</nav>
</body>
</html>