<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="update-flight" id="update-flight-overlay" style="display:none;" class="container border border-2 rounded">
        <h3 id="update-flight-title" class="border-bottom border-2 text-center my-2">Updating:</h3>
<!--        <form action="/astrodia/admin/flights" class="needs-validation" method="POST" id="update-form" novalidate>-->
        <form action="#" class="needs-validation" id="update-form">
            <div class="container px-2">
                    <input type="hidden" id="formFlightId" value="default">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">ID</button>
                        <ul class="dropdown-menu">
                            <li><div class="dropdown-item" id="edit-flightCode" >Override</div></li>
                        </ul>
                        <input name="flightCode" class="form-control is-invalid" type="text" id="flightCode" value="XXX123 A1-B2/h3" readonly>
                        <label class="input-group-text">Available Seats</label>
                        <input name="availableSeats" min="0" type="number" class="form-control" placeholder="availableSeats">
                        <label class="input-group-text">$/Seat</label>
                        <input name="pricePerSeat" type="text" class="form-control" placeholder="$1000.00">
                        <div class="invalid-feedback offset-1">
                            Flight Code required.
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="spaceliner">Spaceliner</label>
                        <select name="spaceliner" class="form-select update-dropdown is-invalid" id="spaceliner">
                            <span th:each="spaceliner : ${spaceliners}">
                                <option th:value="${spaceliner.id}" th:text="${spaceliner.name}"></option>
                            </span>
                        </select>
                        <label class="input-group-text" for="shuttle">Shuttle</label>
                        <select name="shuttle" class="form-select update-dropdown" id="shuttle" required>
                            <span th:each="shuttle : ${shuttles}">
                                <option
                                        th:data-shuttle-maxseating="${shuttle.passengerCapacity}"
                                        th:data-spaceliner-id="${shuttle.spaceliner.id}"
                                        th:value="${shuttle.id}" th:text="${shuttle.name}"></option>
                            </span>
                        </select>
                        <div class="invalid-feedback offset-8" for="shuttle">
                            Shuttle cannot be blank.
                        </div>
                    </div>
                    <h5>Departing</h5>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="departurePort">Port</label>
                        <select name="departurePort" class="form-select update-dropdown" id="departurePort">
                            <span th:each="port : ${ports}">
                                <option th:value="${port.id}" th:text="${port.name}"></option>
                            </span>
                        </select>
                        <label class="input-group-text" for="departurePad">Pad</label>
                        <select name="departurePad" class="form-select update-dropdown" id="departurePad" required>
                            <span th:each="pad : ${pads}">
                                <option th:data-dep-pad-port-id="${pad.port.id}"
                                        th:value="${pad.id}" th:text="${pad.id}"></option>
                            </span>
                        </select>
                        <div class="invalid-feedback offset-7">
                            Launch Pad cannot be blank.
                        </div>
                    </div>
                    <div class="input-group mb-2">
                        <label class="input-group-text" for="departureDate">Date</label>
                        <input name="departureDate" type="text" class="form-control is-invalid" id="departureDate" placeholder="MM/DD/YYYY">
                        <label class="input-group-text" for="departureTime">Time</label>
                        <input name="departureTime" type="text" class="form-control" id="departureTime" placeholder="HH:MM">
                        <div class="invalid-feedback offset-1">
                            Departure Date cannot be before Arrival.
                        </div>
                    </div>
                    <h5>Arriving</h5>
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="arrivalPort">Port</label>
                        <select name="arrivalPort" class="form-select update-dropdown" id="arrivalPort" required>
                            <span th:each="port : ${ports}">
                                <option th:value="${port.id}" th:text="${port.name}"></option>
                            </span>
                        </select>
                        <label class="input-group-text" for="arrivalPad">Pad</label>
                        <select name="arrivalPad" class="form-select update-dropdown is-invalid" id="arrivalPad">
                            <span th:each="pad : ${pads}">
                                <option th:data-arr-pad-port-id="${pad.port.id}"
                                        th:value="${pad.id}" th:text="${pad.id}"></option>
                            </span>
                        </select>
                        <div class="invalid-feedback offset-7">
                            Arrival Pad cannot be blank.
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <label class="input-group-text" id="arrivalDate">Date</label>
                        <input name="arrivalDate" type="text" class="form-control" placeholder="MM/DD/YYYY">
                        <label class="input-group-text" id="arrivalTime">Time</label>
                        <input name="arrivalTime" type="text" class="form-control" placeholder="HH:MM">
                    </div>
                <div class="row">
                    <span class="d-flex justify-content-evenly mb-2">
                        <button id="resetBtn" class="btn btn-success">Reset</button>
                        <button id="updateBtn" class="btn btn-primary">Update</button>
                        <button id="cancelBtn" class="btn btn-danger">Cancel</button>
                    </span>
                </div>
            </div>
        </form>
</div>

</body>
</html>