p {
  font-size: smaller;
}
body {
  position: relative;
}
.dropdown-menu {
box-shadow: 8px 8px 8px grey;
}
.form-select, input, .help-link {
cursor: pointer;
}
/* START: index.html styling */
.main-section-form-box {
  border-radius: 10px;
}
.no-line-anchor {
  text-decoration: none;
}
.searchBy-tab:hover {
  cursor: pointer;
  border-bottom: 2px solid black;
}
.main-section-form-box-tabs .focus {
  color: blue;
  border-bottom: 2px solid blue;
}
#remove-multiport-inputs:hover,
#add-flight-btn:hover,
.main-section-form-choice-tabs h6:hover {
  background-color: rgba(0, 255, 255, 0.158);
  border-radius: 10px;
  color: blue;
  cursor: pointer;
}
.main-section-form-choice-tabs .focus {
  background-color: rgba(0, 255, 255, 0.158);
  border-radius: 10px;
  color: blue;
}
.multi-port-shuttle-number {
  margin-bottom: -10px;
}
#signInPopup {
  display: none;
  position: absolute;
  background-color: white;
  top: 2%;
  right: 10%;
  width: 20rem;
  box-shadow: 10px 10px 10px grey;
  animation-name: signInPopup;
  animation-duration: 0.3s;
  z-index: 1;
}
@keyframes signInPopup {
  from {
    width: 12rem;
  }
  to {
    width: 20rem;
  }
}
#signInPopup a {
  text-decoration: none;
}
#loginFormHeader-arrow_back:hover,
#signUpBtn:hover {
  background-color: #0d6dfd28;
  cursor: pointer;
}
.uitk-icon-medium {
  height: 20px;
  color: blue;
}
/* END: index.html styling */
/* START: flights.html styling */
#aboard img {
  display: block;
}
#overlay-bitcoin-symbol {
  width: 15px;
  height: 20px;
  margin-bottom: 10px;
  margin-right: -8px;
}
#bitcoin-symbol {
  width: 15px;
  height: 20px;
  margin-top: 2px;
}
#dollar-icon {
  width: 15px;
  height: auto;
  margin-right: 5px;
}
.flight:hover {
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.selected {
  border: 1px solid black;
  border-radius: 10px;
}
/* Start: Flight details overlay styling */
#flight-detail-overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 2;
  box-shadow: -3px 0px 10px 2px rgba(0, 0, 0, 0.2);
  animation-name: slideIn;
  animation-duration: 1s;
}
@keyframes slideIn {
  from {
    right: -500px;
  }
  to {
    right: 0;
  }
}
.overlay-close {
  position: relative;
  right: 0px;
  top: 0px;
  width: 30px;
  height: 30px;
  opacity: 0.3;
  border-radius: 50px;
}
.overlay-close:hover {
  opacity: 1;
  cursor: pointer;
  background-color: lightblue;
  background-image: radial-gradient(
    rgba(173, 214, 230, 0.4),
    rgba(173, 214, 230, 0.6),
    white
  );
}
.overlay-close:before,
.overlay-close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 30px;
  width: 2px;
  background-color: blue;
}
.overlay-close:before {
  transform: rotate(45deg);
}
.overlay-close:after {
  transform: rotate(-45deg);
}
.search-result-filters {
  display: none;
}
/* End: Flight details overlay styling */
/* END: flights.html styling */
/* START: signin.html styling */
#loginFormHeader-arrow_back:hover {
}

/* Start: stations.html styling */
#moon-base {
width:100%;
}
.explore-container img {
border: none;
border-radius:10px;
}

/* START: admin-flights.html styling */
.admin-flight-tr:hover,
#edit-flightCode:hover {
  cursor: pointer;
}
#update-flight-overlay {
/*max-width:40rem;*/
box-shadow: 8px 8px 8px grey;
background-color: white;
position: absolute;
top: 5rem;
left: 100px;
}
/* END: flights_admin.html styling */

@media screen and (min-width: 539px) {
  .main-img-overlay-box {
    display: block;
  }
  .search-result-filters {
    display: none;
  }
}
@media screen and (min-width: 940px) {
  .main-img-overlay-box p {
    display: block;
  }
  .search-result-filters {
    display: block;
  }
  #flight-detail-overlay {
    width: 40%;
    overflow-y: scroll;
  }
}
