<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: header"></link>
    <title>Access Denied</title>
</head>
<body>
<div class="main container-fluid p-1">
    <div th:replace="fragments/nav :: minimal-header"></div>
    <div class="container-fluid mt-5">
        <h1 class="text-center">ACCESS DENIED</h1>
        <img class="mx-auto d-block" id="access-denied" th:src="@{assets/image/access-denied.png}" alt="access denied" />
    </div>
    <div th:replace="fragments/footer :: scripts" />
</div>
</body>
</html>