<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: header" />
    <title>Flight Search Results</title>
</head>
<body>
<div class="main container-fluid p-1">
    <!-- Start: Navbar element -->
    <div th:replace="fragments/nav :: nav"></div>

    <div th:replace="fragments/results :: roundtrip"></div>


    <div th:replace="fragments/footer :: footer"></div>
</div>
<div th:replace="fragments/footer :: scripts"></div>
<script type="text/javascript" th:src="@{/js/flights.js}"></script>
<script type="text/javascript" th:src="@{/js/nav.js}"></script>


</body>
</html>