<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: header" />
    <title>Astrodia Space Travel</title>
</head>
<body>
    <div class="main container-fluid p-1">
    <!-- Start: Navbar element -->
        <div th:replace="fragments/nav :: nav"></div>
        <div th:replace="fragments/base :: container(flights)"></div>
    <!-- Start: Main image and additional content -->
        <div class="container-lg main-image p-0" style="position: relative;">
            <img class="img-fluid rounded" th:src="@{/assets/earth-space-station.jpg}" alt="Space station orbiting Earth">
            <div class="main-img-overlay-box justify-content-center text-center">
                <h4> Experience travel on an entirely new level...</h4>
                <p>Share in the experience of a lifetime</p>
                <button class="btn btn-primary">See Reviews</button>
            </div>
        </div>
    <!-- Start: Extra links and ad content -->
        <div th:replace="fragments/footer :: links"></div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>

    <div th:replace="fragments/footer :: scripts"></div>
    <script type="module" th:src="@{/js/main.js}"></script>

</body>
</html>