<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <title>Astrodia</title>
</head>
<body>

<div class="container">
    <h1>
        <!-- include image from static resources -->
        <img th:src="@{/assets/images/spaceship.png}" alt="memorynotfound logo"/>
        Adding Static Resources (css, JavaScript, Images) to Thymeleaf
    </h1>
</div>

<!-- include javascript in the footer -->
<script type="text/javascript" th:src="@{/webjars/jquery/3.6.0/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/jquery-ui/1.13.0/jquery-ui.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.0.0/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/index.js}"></script>

</body>
</html>