<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: header" />
    <title>Roundtrip Flights</title>
</head>
<body>
<div class="main container-fluid p-1">
    <div th:replace="fragments/nav :: nav"></div>
    <!-- Start: Main image and additional content -->
    <div class="container-lg">
        <div class="row row-cols-md-auto justify-content-center p-3 border-bottom" id="form-container">
            <form
                    th:object="${newSearch}"
                    th:action="@{/astrodia/roundtrip-region}"
                    method="GET" class="d-flex"
            >
                    <div class="col-12 col-sm-3 mx-1">
                        <div class="form-floating" id="leaving-div">
                            <select th:field="*{leaving}" class="form-select" id="leaving">
                                <option selected value="">Select Region</option>
                                <span th:each="region : ${regions}">
                            <option th:value="${region.id}" th:text="${region.name}"></option>
                        </span>
                            </select>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('leaving')}" th:errors="*{leaving}"></div>
                            <label for="leaving">Departing from</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-3 mx-1">
                        <div class="form-floating" id="destination-div">
                            <select th:field="*{destination}" class="form-select" id="destination">
                                <option selected value="">Select Region</option>
                                <span th:each="region : ${regions}">
                            <option th:value="${region.id}" th:text="${region.name}"></option>
                        </span>
                            </select>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('destination')}" th:errors="*{destination}"></div>
                            <label for="destination">Going to</label>
                        </div>
                    </div>
                        <div class="form-floating col-12 col-sm-2 mx-1" id="departureDate-div">
                            <input
                                    th:field="*{departureDate}"
                                    class="form-control col datepicker"
                                    type="text"
                                    id="departureDate"
                                    placeholder="Departure date"
                            />
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('departureDate')}" th:errors="*{departureDate}"></div>
                            <label for="departureDate">From Date</label>
                        </div>
                        <div class="form-floating col-12 col-sm-2 mx-1" id="arrivalDate-div">
                            <input
                                    th:field="*{arrivalDate}"
                                    class="form-control col datepicker"
                                    type="text"
                                    id="arrivalDate"
                                    placeholder="Return date"
                            />
                            <label for="arrivalDate">Return by</label>
                            <div class="alert alert-warning" th:if="${#fields.hasErrors('arrivalDate')}" th:errors="*{arrivalDate}"></div>
                        </div>
                    <button
                            type="submit"
                            class="btn btn-primary btn-lg col-2 mx-2"
                            id="searchBtn"
                    >
                        Search
                    </button>
            </form>
            </div>

        </div>
        <!-- Start: Sidebar for narrowing selection -->
    <div class="row">
        <div class="mx-auto d-flex my-3 justify-content-evenly">
            <button id="toggle-departures" class="btn btn-primary text-nowrap col-2 toggle-flight" disabled data-bs-toggle="button">Departing Flights</button>
            <button id="toggle-returns" class="btn btn-primary text-nowrap col-2 toggle-flight" data-bs-toggle="button">Returning Flights</button>
        </div>
    </div>
        <!-- Start: Search results flight list  -->
        <div class="container col border rounded">

            <section id="departure-flights">
            <div class="row p-2 my-1 flight "
                 th:each="flight : ${departureFlights}"
                th:id="${flight.id}">
                <div class="col-12 col-sm-5" id="departure-arrival-time">
                    <th:block th:inline="text">
                        [[${#calendars.format({flight.departing},'hh:mm a')}]] -
                        [[${#calendars.format({flight.arriving},'hh:mm a')}]]
                    </th:block>
                    <h5 class="mb-0" th:text="${flight.flightCode}"></h5>
                    <p class="mb-0" th:inline="text">
                        [[${flight.launchPad.port.name}]] ([[${flight.launchPad.port.id}]]) to
                        [[${flight.arrivalPad.port.name}]] ([[${flight.arrivalPad.port.id}]])
                    </p>
                    <span th:if="${#strings.startsWith(flight.flightCode, 'SPX')}">
                    <img    id="flight-spaceliner-logo"
                            th:src="@{/assets/logo/SpaceX_logo.png}"
                            alt="SpaceX logo"
                            style="height: 10px"/>SpaceX Liners
                    </span>
                    <span th:if="${#strings.startsWith(flight.flightCode, 'BLO')}">
                        <img
                                th:src="@{/assets/logo/Blue_Origin_logo.png}"
                                alt="BlueOrigin logo"
                                style="height: 10px"/>
                        Blue Origin
                    </span>
                    <span th:if="${#strings.startsWith(flight.flightCode, 'VGN')}">
                        <img
                                th:src="@{/assets/logo/Virgin_Galactic_logo.jpg}"
                                alt="Virgin Galactic logo"
                                style="height: 40px"/>
                        Virgin Galactic
                    </span>
                </div>
                <small class="col-6 col-sm-5 text-center ">
                        60d 40m(1 stop)<br />
                    <th:block th:inline="text">
                        [[${flight.launchPad.port.location}]] -
                        [[${flight.launchPad.port.region.name}]]<br>
                        TO<br>[[${flight.arrivalPad.port.location}]] -
                        [[${flight.arrivalPad.port.region.name}]]
                    </th:block>
                </small>
                <div class="col">
                    <small style="color: red" class="mb-0" th:inline="text">[[${flight.seatsAvailable}]] left</small>
                    <h5 class="mb-0">$40000</h5>
                    <span class="d-flex">
                        <img id="bitcoin-symbol" class="mt-1" th:src="@{/assets/Btc-sans.png}" />
                        <h5>2300</h5>
                    </span>
                </div>
            </div>
            </section>

            <section id="return-flights" style="display: none;">
                <div class="row p-2 my-1 flight"
                     th:each="flight : ${returnFlights}"
                     th:id="${flight.id}" >
                <div class="col-12 col-sm-5" id="return-arrival-time">
                    <th:block th:inline="text">
                        [[${#calendars.format({flight.departing},'hh:mm a')}]] -
                        [[${#calendars.format({flight.arriving},'hh:mm a')}]]
                    </th:block>
                    <h5 class="mb-0" th:text="${flight.flightCode}"></h5>
                    <p class="mb-0" th:inline="text">
                        [[${flight.launchPad.port.name}]] ([[${flight.launchPad.port.id}]]) to
                        [[${flight.arrivalPad.port.name}]] ([[${flight.arrivalPad.port.id}]])
                    </p>
                    <span th:if="${#strings.startsWith(flight.flightCode, 'SPX')}">
                    <img    id="flight-spaceliner-logo"
                            th:src="@{/assets/logo/SpaceX_logo.png}"
                            alt="SpaceX logo"
                            style="height: 10px"/>SpaceX Liners
                    </span>
                    <span th:if="${#strings.startsWith(flight.flightCode, 'BLO')}">
                        <img
                                th:src="@{/assets/logo/Blue_Origin_logo.png}"
                                alt="BlueOrigin logo"
                                style="height: 10px"/>
                        Blue Origin
                    </span>
                    <span th:if="${#strings.startsWith(flight.flightCode, 'VGN')}">
                        <img
                                th:src="@{/assets/logo/Virgin_Galactic_logo.jpg}"
                                alt="Virgin Galactic logo"
                                style="height: 40px"/>
                        Virgin Galactic
                    </span>
                </div>
                <small class="col-6 col-sm-5 text-center ">
                    60d 40m(1 stop)<br /><th:block th:inline="text" />
                    [[${flight.launchPad.port.location}]] -
                    [[${flight.launchPad.port.region.name}]]<br>
                    TO<br>[[${flight.arrivalPad.port.location}]] -
                    [[${flight.arrivalPad.port.region.name}]]

                </small>
                <div class="col">
                    <small style="color: red" class="mb-0" th:inline="text">[[${flight.seatsAvailable}]] left</small>
                    <h5 class="mb-0">$40000</h5>
                    <span class="d-flex">
                        <img id="bitcoin-symbol" class="mt-1" th:src="@{/assets/Btc-sans.png}" />
                        <h5>2300</h5>
                    </span>
                </div>
                </div>
            </section>
        </div>
    <!-- End: Search results flight list -->
        <!-- Start: Selected flight overlay-->
        <div class="container" id="flight-detail-overlay">
            <div class="row p-3 border-bottom">
                <div class="overlay-close"></div>
            </div>
            <h4 class="row justify-content-center" id="flight-code" ></h4>
            <div class="row">
                <h6 class="col" id="flight-launch">Departs: </h6>
                <h6 class="col" id="flight-landing">Arrives: </h6>
            </div>
            <div class="row py-3 my-0 px-0 border-1 border-bottom border-dark">
                 <h6 id="aboard"></h6>
            </div>
            <img class="d-inline-flex" id="overlay-spaceliner-logo"/>
                <p><span class="fw-bold">12:34pm-3:02pm</span><br />3h 24m(Nonstop)</p>
            <div class="row p-3">
                <h5 class="m-0">Selected fare to Moon Base</h5>
                <p>Your selection applies to this flight only</p>
            </div>
            <div class="p-3 col-lg-12 col-xxl-8 border border-2 rounded m-2">
                <h4 class="fw-bold my-0">
                    $18208 dollar<br>OR<br>
                    <span>
                <img id="overlay-bitcoin-symbol" th:src="@{/assets/Btc-sans.png}" />
                .033031 bitcoin</span>
                </h4>
                <p>$23432 roundtrip for 1 traveler</p>
                <p class="fs-6 m-0">
                    <img id="dollar-icon" th:src="@{/assets/dollar-icon.png}" />Seat
                    choice
                </p>
                <p class="fs-6 m-0">
                    <img
                            id="dollar-icon"
                            th:src="@{/assets/dollar-icon.png}"
                    />Cancellation
                </p>
                <p class="fs-6">
                    <img id="dollar-icon" th:src="@{/assets/dollar-icon.png}" />Changes
                </p>
                <div class="row border mx-2 mb-2"></div>
                <div class="row m-0">
                    <div class="col-8">
                        <p>Carry-on:<br>1st checked bag:<br>2nd checked bag:</p>
                    </div>
                    <div class="col-4">
                        <p>$400 to $450<br>$200 to $250<br>$300 to $450</p>
                    </div>
                    <button class="btn btn-primary">Select</button>
                </div>
            </div>
        </div>


            <div th:replace="fragments/footer :: links"></div>
            <div th:replace="fragments/footer :: footer"></div>

            <div th:replace="fragments/footer :: scripts"></div>
            <script type="module" th:src="@{/js/flights.js}"></script>
            <script type="module" th:src="@{/js/nav.js}"></script>
    </div>
</div>

</body>
</html>