<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="sidebar">
    <div class="col-2 p-2">
        <h5 class="border-3 border-bottom">Filter Flights</h5>
        <form id="search-parameters" method="GET" action="#">
            <h6>Spaceliner</h6>
            <div th:each="spaceliner : ${spaceliners}" class="form-check spacelinerSelection">
                <input
                        class="form-check-input"
                        type="checkbox"
                        th:value="${spaceliner.id}"
                        th:id="${spaceliner.id}"
                />
                <label th:text="${spaceliner.name}" class="form-check-label" th:for="${spaceliner.id}">
                </label>
            </div>

            <h6>Shuttle</h6>
            <div th:each="shuttle : ${shuttles}" class="form-check shuttleSelection">
                <input
                        class="form-check-input"
                        type="checkbox"
                        th:value="${shuttle.id}"
                        th:id="${shuttle.id}"
                />
                <label th:text="${shuttle.name}" class="form-check-label" th:for="${shuttle.id}">
                </label>
            </div>
            <h5 class="border-top">Departure</h5>
            <!--                <h6>Date</h6>-->
            <!--                <input-->
            <!--                        class="form-control form-select-sm mb-3 col datepicker"-->
            <!--                        type="text"-->
            <!--                        placeholder="MM/DD/YYYY"-->
            <!--                        id="departureDate"-->
            <!--                />-->
            <h6>Region</h6>
            <div th:each="region : ${regions}" class="form-check departureRegionSelection">
                <input
                        class="form-check-input"
                        type="checkbox"
                        th:value="${region.id}"
                        th:id="${region.id}"
                />
                <label th:text="${region.name}" class="form-check-label" th:for="${region.id}">
                </label>
            </div>
            <h6>Port</h6>
            <div  th:each="port : ${ports}" class="form-check departurePortSelection">
                <input
                        class="form-check-input"
                        type="checkbox"
                        th:value="${port.id}"
                        th:id="${port.id}"
                />
                <label th:text="${port.name}" class="form-check-label" th:for="${port.id}">
                </label>
            </div>
            <h5 class="border-top">Arrival</h5>
            <!--                <h6>Date</h6>-->
            <!--                <input-->
            <!--                        class="form-control form-select-sm mb-3 col datepicker"-->
            <!--                        type="text"-->
            <!--                        placeholder="MM/DD/YYYY"-->
            <!--                        id="arrivalDate"-->
            <!--                />-->
            <h6>Region</h6>
            <div th:each="region : ${regions}" class="form-check arrivalRegionSelection">
                <input
                        class="form-check-input"
                        type="checkbox"
                        th:value="${region.id}"
                        th:id="${region.id}"
                />
                <label th:text="${region.name}" class="form-check-label" th:for="${region.id}">
                </label>
            </div>
            <h6>Port</h6>
            <div  th:each="port : ${ports}" class="form-check arrivalPortSelection">
                <input
                        class="form-check-input"
                        type="checkbox"
                        th:value="${port.id}"
                        th:id="${port.id}"
                />
                <label th:text="${port.name}" class="form-check-label" th:for="${port.id}">
                </label>
            </div>
        </form>
    </div>
</div>
</body>
</html>