<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:replace="fragments/header :: header" />
    <title>Astrodia Space Travel</title>
</head>
<body>
    <div class="main container-fluid p-1">
    <!-- Start: Navbar element -->
        <div th:replace="fragments/nav :: nav"></div>
        <div th:replace="fragments/base :: container(region)"></div>
    <!-- Start: Main image and additional content -->
        <div th:replace="fragments/base :: carousel"></div>

        <div th:replace="fragments/footer :: footer"></div>
    </div>

    <div th:replace="fragments/footer :: scripts"></div>
    <script type="module" th:src="@{/js/main.js}"></script>
    <script type="module" th:src="@{/js/nav.js}"></script>

</body>
</html>